* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    background: #111a21;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.container {
    font-family: arial;
    font-size: 24px;
    margin: 25%;
    width: 50%;
    height: 50%;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating-text {
    display: inline-block;
    color: white;
}

.floating-text span {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}

.floating-text span:nth-child(1) {
    animation-delay: 0.1s;
}

.floating-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.floating-text span:nth-child(3) {
    animation-delay: 0.3s;
}

.floating-text span:nth-child(4) {
    animation-delay: 0.4s;
}